html, body {
    margin: 0;
    padding:0;
    height: 100%;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content {
    padding: 16px 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#options-container {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin: 40px 0;
}

#options-container select {
    width: 240px;
}

#videos-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#videos-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#video1, #video2 {
    width: 98%;
    height: auto;
    margin: 0 10px;
}

#video-control-panel {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 32px 0;
}

#video-control-panel > div > button {
    width: 96px;
    margin: 0 28px;
}

footer {
    position: absolute;
    bottom: 0;
    z-index: 10;
    background: #F7F7F7;
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 10px;
}

footer > p {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    margin-bottom: 24px;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #e7e7e7;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

#custom-seekbar {
    height: 10px;
    margin-bottom: 10px;
    outline: thin solid orange;
    overflow: hidden;
    position: relative;
    width: 400px;
    border-radius: 16px;
}

#custom-seekbar span {
    background-color: orange;
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 0;
    border-radius: 16px;
}
