body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#options-container {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin-top: 40px;
}

#options-container select {
    width: 240px;
}

#videos-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#videos-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#video1, #video2 {
    width: 99%;
    height: auto;
    margin: 0 10px;
}

#video-control-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#video-control-panel input {
    font-size: large;
    padding: 10px 20px;
    margin: 0 10px;
    width: 50%;
}

.video-progress {
    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#video-control-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}

#buttons-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

#buttons-container > button {
    width: 80px;
}

#seek {
    width: 100%;
    height: 10px;
    margin: 10px 0;
    align-self: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
